.header {
    display: flex;
    flex-direction: row;
    background-color: #393a39;
    opacity: 0.8;
    gap: 40px;
    position: relative;
 
}
.heading p{  
    font-size: 25px;
    font-weight: bold;
    color: white;
    padding-left: 20px;
}
.nav-link{
    display: flex;
    gap:30px;
    padding-top: 15px;
}
.nav-link a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.login-link{
    display: flex;
    gap: 30px;
    padding-top: 15px;
    margin-left: auto;
    margin-right: 40px;
}
.login-link a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
footer{
    background-color:#393a39; 
    color:white ;
    opacity: 0.8;
    position:absolute;
    left: 0;
    top: 93.3vh;
    width: 100%;
    text-align: center;
    font-size: 12px;
}
